# Virtualenv
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Django
db.sqlite3
/staticfiles/
media/

# Packaging / build
dist/
django_polls.egg-info/
build/

# Env
.env
.env.* 

# IDE
.vscode/