<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Polls{% endblock %}</title>
    {% load static %}
    <link rel="icon" href="{% static 'polls/images/favicon.png' %}" />
    <link rel="stylesheet" href="{% static 'polls/css/style.css' %}" />
    {% block extra_head %}{% endblock %}
  </head>
  <body>
    <header>
      <h1>{% block header %}Polls{% endblock %}</h1>
    </header>

    <main>{% block content %}{% endblock %}</main>

    <footer>{% block footer %}&copy; Polls. Todos los derechos reservados. {{ now|date:"Y" }}{% endblock %}</footer>
  </body>
</html>
